@page
@model JoyasNala.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('~/Images/WhatsApp Image 2024-11-02 at 20.37.55.jpeg'); /* Ruta de la imagen de fondo */
        background-size: cover;
        background-position: center;
    }
    .login-box {
        background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
        padding: 2rem;
        border-radius: 8px;
        max-width: 400px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="login-container">
    <div class="login-box">
        <h2 class="text-center">Iniciar Sesión</h2>
        <form method="post">
            <div class="form-group">
                <label for="Nombre">Nombre de usuario</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" required />
            </div>
            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input type="password" class="form-control" id="Password" name="Password" required />
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Entrar</button>
        </form>
    </div>
</div>
